@{
    ViewBag.Title = "Home Page";
}



    <article>
        <div class="bakgrund">
            <h1 class="text1">Välkommen</h1>
            <p class="text">Välkomna in till Jönköpings första äkta libanesiska restaurang. Här kan ni avnjuta den smakrika libanesiska maten tillagad av kockar direkt från Libanon. Prova våra avsmakningsmenyer som består av ett flertal kalla och varma smårätter, meza, som följs av en grillmix. Runda av med en utsökt dessert och libanesiskt kaffe. Upplev en genuin libanesisk afton i våra varma och välkomnande lokaler.</p>
        </div>
        <div class="info">
            <h2> Öppettider </h2>
            <p class="oppet"> Vardagar: 16:00 - 22:00</p>
            <p class="oppet">Lördag: 12:00 - 22:00 </p>
            <p class="oppet">Söndag: 12:00 - 21:00 </p>



        </div>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FrestaurangTOB%2F&tabs&width=340&height=150&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" class="knapp"></iframe>

        <footer>
            Taste of Beirut, Barnarpsgatan 100, Jönköping - 036-12 42 23
        </footer>
    </article>

